
.Error{
    inset: 30% 30% 45% 30%;
    z-index: 1111111111;
    margin:   auto;
    background-color: #292F3F;
    text-align: center;
    border-radius: 0.5rem;
    padding: 1rem;
    border:2rem;
    background: #fbc484;
}

@media only screen and (max-width: 35em) {
    .Error{
        inset: 10% 10% 10% 10%;
    }
}